extends ../includes/layout.pug
block metatags
  -var title = 'EDgram'
  -var description = ''
  title= title
  meta(name="description", content=description)
  meta(name="application-name", content=title)
block content
  #root

